.env
.DS_Store
.idea/
Depression_Reddit_Database.xlsx
Depression_Reddit_Database2.xlsx
Depression_Reddit_Database_Final.xlsx
*.plist
TwitterDepressionAnalysis/TwitterDepressionAnalysis/Sensitive Files*
store.pckl